Repository web-mighty-io/web-mighty: changes, and which Codecov flags are due for each by the changed paths.
All: core, public, server

:wrench: fixed dockerfile libssl
  Dockerfile
Due: none

:hammer: added minifying feature to dockerfile
  Dockerfile
  README.md
  minify_files.py
  requirements.txt
  server.docker.toml
  start_server.py
Due: none

:hammer: removing extra directories for smaller size
  Dockerfile
  static/res/.ignore
Due: none

:hammer: changed minifying process
  Dockerfile
  minify_files.py
Due: none

:art: main page play button
  static/main.html
  static/res/scss/style.scss
Due: none

:art: created room page
  static/main.html
  static/res/scss/style.scss
  static/rooms.html
Due: none

:art: improving room page
  static/res/scss/style.scss
  static/rooms.html
Due: none

:white_check_mark: test impl
  fad
  mighty/src/card.rs
Due: core

:fire: OTL
  fad
Due: none

:white_check_mark: card.rs testing
  mighty/src/card.rs
Due: core

valid_users done
  mighty/src/state.rs
  public/static/res/css/style.css
  public/static/res/css/style.css.map
Due: core

valid_users done
  public/static/res/css/style.css
  public/static/res/css/style.css.map
Due: none

changed things
  mighty/src/state.rs
Due: core

changed valid_users finished to 0
  mighty/src/state.rs
Due: core

:art: removed https feature & controlling by config file
  README.md
  server/Cargo.toml
  server/src/config.rs
  server/src/lib.rs
Due: server

:construction_worker: fixed Dockerfile
  Dockerfile
Due: none

:wrench: added .kodiak.toml
  .kodiak.toml
Due: none

:page_facing_up: updated to 2021
  LICENSE
Due: none

:bug: main page css bug fix
  static/res/scss/style.scss
Due: none

:lipstick: minor fixes and added game page
  static/game.html
  static/res/scss/style.scss
  static/rooms.html
Due: none

:boom: reconstructed structure
  server/Cargo.toml
  server/src/actor/db/game.rs
  server/src/actor/db/mod.rs
  server/src/actor/db/user.rs
  server/src/actor/group.rs
  server/src/actor/hub.rs
  server/src/actor/list.rs
  server/src/actor/main.rs
  server/src/actor/mod.rs
  server/src/actor/room.rs
  server/src/actor/user.rs
  server/src/app_state.rs
  server/src/config.rs
  server/src/db/game.rs
  server/src/db/mod.rs
  server/src/db/user.rs
  server/src/https.rs
  server/src/lib.rs
  server/src/service/delete.rs
  server/src/service/get/mod.rs
  server/src/service/get/ws.rs
  server/src/service/mod.rs
  server/src/service/post.rs
  server/src/util.rs
  types/src/lib.rs
Due: server

:white_check_mark: removed test
  server/src/util.rs
Due: server

:wrench: changed configuration of server
  Dockerfile
  README.md
  server/Cargo.toml
  server/src/config.rs
  server/src/lib.rs
Due: server

:wrench: changed default configuration
  README.md
  server/src/config.rs
Due: server

features=client added
  mighty/src/state.rs
Due: core

fixed warnings
  mighty/src/state.rs
Due: core

:white_check_mark: card.rs finish
  mighty/src/card.rs
Due: core

:art: implemented basic functions
  public/Cargo.toml
  public/src/global.rs
  public/src/lib.rs
  public/src/rule.rs
  public/src/ws/room_user.rs
Due: public

:art: changed rule
  public/Cargo.toml
  public/src/global.rs
  public/src/rule.rs
  public/src/ws/room_user.rs
Due: public

:rotating_light: fixed compiler error
  public/src/lib.rs
Due: public

fixed warnings2
  mighty/src/state.rs
Due: core

:construction_worker: made ci more sophisticated
  .github/workflows/clippy.yml
  .github/workflows/fmt.yml
  .github/workflows/test.yml
Due: none

:construction_worker: added browsers
  .github/workflows/test.yml
Due: none

:construction_worker: changed name
  .github/workflows/build.yml
  .github/workflows/clippy.yml
  .github/workflows/fmt.yml
  .github/workflows/test.yml
Due: none

:construction_worker: fixed typo
  .github/workflows/build.yml
Due: none

fixed warnings3
  mighty/src/state.rs
Due: core

fixed warnings4
  mighty/src/state.rs
Due: core

:construction_worker: added ci
  .github/workflows/build.yml
  .github/workflows/clippy.yml
  .github/workflows/test.yml
Due: none

:construction_worker: changed ci
  .github/workflows/build.yml
  .github/workflows/clippy.yml
  .github/workflows/coverage.yml
  .github/workflows/fmt.yml
  .github/workflows/test.yml
Due: none

:construction_worker: edited name
  .github/workflows/build.yml
  .github/workflows/clippy.yml
  .github/workflows/test.yml
Due: none

Path conditions:
  core: any of: mighty/src
  public: any of: public/src
  server: any of: server/src
