Repository web-mighty-io/web-mighty: changes, and which Codecov flags are due for each by the changed paths.
All: core, public, server

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    core:
      flags: mighty
    public:
      flags: public
    server:
      flags: server

flags:
  core:
    paths:
      - mighty/src
  public:
    paths:
      - public/src
  server:
    paths:
      - server/src

:rotating_light: fixed warnings
  public/static/main.hbs
  server/src/app_state.rs
  server/src/main.rs
Due: server

:construction_worker: changed to actions-rs
  .github/workflows/coverage.yml
Due: none

:construction_worker: changed to actions-rs (#35)
  .github/workflows/coverage.yml
Due: none

:construction_worker: added features
  .github/workflows/build.yml
Due: none

👷 added features (#36)
  .github/workflows/build.yml
Due: none

✨ make file watching server (for feature) (#34)
  .gitignore
  public/static/css/style.css.map
  public/static/index.hbs
  public/static/main.hbs
  public/static/res/.ignore
  public/static/res/assets/spade_A.png
  public/static/res/js/mighy.js
  public/static/res/scss/style.scss
  server/Cargo.toml
  server/src/app_state.rs
  server/src/lib.rs
  server/src/main.rs
  server/src/util.rs
  util/start_server.py
Due: server

:green_heart: changed tarpaulin version
  .github/workflows/coverage.yml
Due: none

:construction_worker: changed to grcov
  .github/workflows/coverage.yml
Due: none

:construction_worker: fixing ci
  .github/workflows/coverage.yml
Due: none

🐛 fixed .gitignore (#37)
  .gitignore
Due: none

:construction_worker: changed ci
  .github/workflows/build.yml
Due: none

:construction_worker: changed ci
  .github/workflows/coverage.yml
Due: none

:construction_worker: changed ci
  .github/workflows/coverage.yml
  server/src/app_state.rs
Due: server

:construction_worker: changed to tarpaulin
  .github/workflows/coverage.yml
Due: none

👷 fixed ci (#38)
  .github/workflows/build.yml
  .github/workflows/coverage.yml
  server/src/app_state.rs
Due: server

:sparkles: enabled https
  .gitignore
  server/Cargo.toml
  server/src/app_state.rs
  server/src/https.rs
  server/src/lib.rs
  server/src/main.rs
  server/src/util.rs
  util/gen_self_cert.sh
Due: server

:art: formatted the code
  server/src/main.rs
Due: server

✨ enabled https (#39)
  .gitignore
  server/Cargo.toml
  server/src/app_state.rs
  server/src/https.rs
  server/src/lib.rs
  server/src/main.rs
  server/src/util.rs
  util/gen_self_cert.sh
Due: server

:fire: removed cert gen file
  server/src/app_state.rs
  server/src/main.rs
  util/gen_self_cert.sh
Due: server

:fire: removed cert gen file (#40)
  server/src/app_state.rs
  server/src/main.rs
  util/gen_self_cert.sh
Due: server

:construction: added profile page and fixed bugs
  public/static/profile.html
  public/static/res/scss/style.scss
Due: none

:memo: added instruction
  README.md
Due: none

:truck: moving bulma dir
  public/static/res/scss/style.scss
Due: none

:memo: qadded license
  README.md
Due: none

:construction: added profile page and fixed bugs (#41)
  public/static/profile.html
Due: none

📝 added instruction & badges (#43)
  README.md
Due: none

:building_construction: improving profile.html
  public/static/profile.html
Due: none

:building_construction: improving profile.html (#44)
  public/static/profile.html
Due: none

:bug: fixed for windows
  server/src/app_state.rs
Due: server

🐛 fixed for windows (#45)
  server/src/app_state.rs
Due: server

:sparkles: added postgresql support
  .gitignore
  server/Cargo.toml
  server/src/db.rs
  server/src/handlers/get.rs
  server/src/handlers/mod.rs
  server/src/handlers/post.rs
  server/src/lib.rs
  server/src/main.rs
Due: server

haha
  mighty/src/base.rs
  mighty/src/basic.rs
  public/static/res/scss/style.scss
Due: core

changed request
  mighty/src/base.rs
  public/static/res/scss/style.scss
Due: core

:art: added db
  server/src/db/login.rs
  server/src/db/mod.rs
  server/src/db/register.rs
  server/src/handlers/post.rs
  server/src/main.rs
Due: server

✨ added postgresql support (#47)
  .gitignore
  server/Cargo.toml
  server/src/db/login.rs
  server/src/db/mod.rs
  server/src/db/register.rs
  server/src/handlers/get.rs
  server/src/handlers/mod.rs
  server/src/handlers/post.rs
  server/src/lib.rs
  server/src/main.rs
Due: server

first turn giruda
  mighty/src/basic.rs
  mighty/src/error.rs
Due: core

matches! great!!!
  mighty/src/basic.rs
Due: core
