Repository web-mighty-io/web-mighty: changes, and which Codecov flags are due for each by the changed paths.
All: core, public, server

:construction_worker: fiexd docker build
  .github/workflows/docker.yml
Due: none

:wrench: changed wasm to release
  Dockerfile
Due: none

:memo: updated README.md
  README.md
Due: none

:memo: fixed https part
  server.sample.toml
Due: none

:memo: changed for docker
  README.md
  server/README.md
Due: none

:bug: fixed relative path using file configuration
  server/src/config.rs
  server/src/lib.rs
Due: server

:art: changed default values
  server/src/lib.rs
Due: server

changed login inspection
  server/src/actor/user.rs
  server/src/db/user.rs
Due: server

made it simple
  server/src/db/user.rs
Due: server

:lipstick: made button style
  static/res/scss/style.scss
Due: none

:boom: removed uuid
  mighty/Cargo.toml
  mighty/src/card.rs
  mighty/src/lib.rs
  mighty/src/state.rs
  public/src/global.rs
  public/src/lib.rs
  public/src/ws/list.rs
  public/src/ws/main.rs
  public/src/ws/observe.rs
  public/src/ws/room_user.rs
  public/src/ws/session.rs
  server/Cargo.toml
  server/src/actor/hub.rs
  server/src/actor/mail.rs
  server/src/actor/room.rs
  server/src/db/game.rs
  server/src/db/user.rs
  server/src/service/post.rs
  static/res/js/mighy.js
  static/res/js/user.js
  static/res/js/ws.js
  types/Cargo.toml
  types/src/lib.rs
Due: core, public, server

:recycle: format
  public/src/lib.rs
  public/src/ws/observe.rs
  server/src/db/game.rs
Due: public, server

:bug: fixed error
  public/Cargo.toml
  public/src/ws/main.rs
  static/res/js/user.js
  static/res/js/ws.js
  types/Cargo.toml
  types/src/lib.rs
Due: public

:recycle: changed indentation
  static/res/scss/style.scss
Due: none

:rotating_light: fixed user.js
  static/res/js/user.js
Due: none

:rotating_light: fixed js warnings
  static/res/js/user.js
Due: none

:memo: updated badge
  README.md
Due: none

:bento: added npm for better dependency control
  .codecov.yml
  .github/workflows/build.yml
  .github/workflows/clippy.yml
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  .gitignore
  Cargo.toml
  Dockerfile
  client/Cargo.toml
  client/src/lib.rs
  client/src/ws/list.rs
  client/src/ws/main.rs
  client/src/ws/mod.rs
  client/src/ws/observe.rs
  client/src/ws/room_user.rs
  client/src/ws/session.rs
  client/tests/web.rs
  minify_files.py
  package.json
  public/404.hbs
  public/game.hbs
  public/index.hbs
  public/main.hbs
  public/res/assets/404.png
  public/res/assets/404.svg
  public/res/assets/account_circle-24px.svg
  public/res/assets/settings-24px.svg
  public/res/assets/spade_A.png
  public/res/js/index.js
  public/res/js/modules/user.js
  public/res/js/modules/ws.js
  public/res/scss/style.scss
  public/rooms.hbs
  public/settings.hbs
  server.sample.toml
  server/src/app_state.rs
  server/src/config.rs
Due: server

:wrench: fixed dockerfile
  Dockerfile
Due: none

:rotating_light: fixed errors
  .github/workflows/test.yml
  package.json
  public/res/js/modules/ws.js
Due: none

:rotating_light: fixed js warnings
  public/res/js/index.js
  public/res/js/modules/ws.js
Due: none

:bug: added mime support
  server/Cargo.toml
  server/src/service/get/mod.rs
Due: server

:bug: fixed watching
  server/src/app_state.rs
Due: server

:boom: added webpack support
  client/src/ws/session.rs
  public/js/index.js
  public/js/modules/user.js
  public/js/modules/ws.js
  public/js/pkg/index.js
  public/res/js/index.js
  public/res/js/modules/ws.js
  webpack.config.js
Due: none

:boom: added webpack support
  .gitignore
  Dockerfile
  README.md
  package.json
  public/js/pkg/index.js
  webpack.config.js
Due: none

:fire: removed commented codes
  public/js/modules/ws.js
Due: none

:rotating_light: fixed lint
  README.md
  public/js/modules/ws.js
  webpack.config.js
Due: none

:wrench: fixed dockerfile
  webpack.config.js
Due: none

:wrench: fixed dockerfile
  public/js/modules/ws.js
Due: none

:art: added http header
  server/src/service/get/mod.rs
Due: server

:building_construction: changed services
  server/src/app_state.rs
  server/src/lib.rs
  server/src/middlewares/https.rs
  server/src/middlewares/mod.rs
  server/src/service/get/mod.rs
  server/src/service/get/ws.rs
  server/src/service/mod.rs
Due: server

:recycle: format
  server/src/lib.rs
Due: server

:construction_worker: fixed coverage
  .github/workflows/coverage.yml
Due: none

:art: improved websocket
  client/src/ws/list.rs
  client/src/ws/room_user.rs
  public/js/index.js
  public/js/modules/websocket.js
  public/js/modules/ws.js
Due: none

:card_file_box: changed sql
  server/src/app_state.rs
  server/src/db/mod.rs
  server/src/db/sql/create_chat.sql
  server/src/db/sql/create_room.sql
  server/src/db/sql/create_user.sql
  server/src/lib.rs
  sql/create_room.sql
  sql/create_user.sql
  types/src/lib.rs
Due: server

:rotating_light: fixed errors
  server/src/actor/list.rs
  server/src/actor/main.rs
  server/src/actor/observe.rs
  server/src/actor/room.rs
  server/src/actor/room_user.rs
  server/src/actor/user.rs
  server/src/app_state.rs
  server/src/db/sql/create_room.sql
  server/src/service/get/ws.rs
Due: server

Path conditions:
  core: any of: mighty/src
  public: any of: public/src
  server: any of: server/src
