Repository web-mighty-io/web-mighty: changes, and which Codecov flags are due for each by the changed paths.
All: core, public, server

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    core:
      flags: core
    public:
      flags: public
    server:
      flags: server

flags:
  core:
    paths:
      - core/src
  public:
    paths:
      - public/src
  server:
    paths:
      - server/src

changed score winner
  core/src/basic.rs
Due: core

fuck
  core/src/basic.rs
Due: core

finished:)
  core/src/basic.rs
Due: core

wtfjaeyong
  core/src/basic.rs
Due: core

wow
  core/src/basic.rs
Due: core

today's last commit
  core/src/basic.rs
Due: core

implemented last turn (#24)
  core/src/basic.rs
Due: core

:art: changed args to enum & now using parse_display
  .codecov.yml
  Cargo.toml
  core/src/basic.rs
  mighty/Cargo.toml
  mighty/src/base.rs
  mighty/src/basic.rs
  mighty/src/lib.rs
  mighty/src/user.rs
  public/Cargo.toml
  server/Cargo.toml
Due: core

:rotating_light: fixed warnings
  mighty/src/base.rs
Due: none

:white_check_mark: added small test
  mighty/src/basic.rs
Due: none

:art: improved some code
  mighty/src/base.rs
  mighty/src/basic.rs
Due: none

:white_check_mark: added tests
  mighty/src/basic.rs
Due: none

🎨 improved processing game (#26)
  .codecov.yml
  Cargo.toml
  core/src/basic.rs
  mighty/Cargo.toml
  mighty/src/base.rs
  mighty/src/basic.rs
  mighty/src/lib.rs
  mighty/src/user.rs
  public/Cargo.toml
  server/Cargo.toml
Due: core

is_joker_called should be reseted
  mighty/src/basic.rs
Due: none

is_joker_called should be reseted (#27)
  mighty/src/basic.rs
Due: none

:art: added bulma startup code
  .gitignore
  public/static/sass/mystyles.scss
  util/start_server.py
Due: none

🎨 added bulma (#28)
  .gitignore
  public/static/assets/spade_A.png
  public/static/css/style.css
  public/static/index.html
  public/static/sass/mystyles.scss
  util/start_server.py
Due: none

:art: added errors
  mighty/src/base.rs
  mighty/src/basic.rs
Due: none

:art: added game
  mighty/src/base.rs
  mighty/src/basic.rs
  mighty/src/error.rs
  mighty/src/lib.rs
  mighty/src/user.rs
Due: none

:rotating_light: fixed clippy warnings
  mighty/src/basic.rs
Due: none

🎨 changed structure & added errors (#29)
  mighty/src/base.rs
  mighty/src/basic.rs
  mighty/src/error.rs
  mighty/src/lib.rs
  mighty/src/user.rs
  public/static/css/style.css.map
Due: none

:twisted_rightwards_arrows: merged master
  server/Cargo.toml
  server/src/main.rs
Due: server

:art: changed friend & command to basic
  mighty/src/base.rs
  mighty/src/basic.rs
Due: none

🎨 changed friend & command to basic (#30)
  mighty/src/base.rs
  mighty/src/basic.rs
Due: none

:lipstick: added main page
  .gitignore
  public/static/main.html
  public/static/sass/mystyles.scss
Due: none

is_joker test added
  mighty/src/base.rs
Due: none

is_joker test added (#31)
  mighty/src/base.rs
Due: none

yougijotda
  mighty/src/basic.rs
Due: none

:sparkles: added logging
  server/Cargo.toml
  server/src/main.rs
Due: server

add random command
  mighty/src/base.rs
  mighty/src/basic.rs
Due: none

changed request
  mighty/src/basic.rs
Due: none

make random operations (#32)
  mighty/src/base.rs
  mighty/src/basic.rs
Due: none

:sparkles: make file watching server (for feature)
  public/static/index.hbs
  server/Cargo.toml
  server/src/app_state.rs
  server/src/lib.rs
  server/src/main.rs
Due: server

:art: added file watch feature
  .gitignore
  public/static/css/style.css.map
  public/static/index.hbs
  public/static/res/.ignore
  public/static/res/assets/spade_A.png
  public/static/res/js/mighy.js
  public/static/res/scss/style.scss
  server/Cargo.toml
  server/src/app_state.rs
  server/src/main.rs
  server/src/util.rs
  util/start_server.py
Due: server

:art: formatted code
  public/static/index.hbs
  public/static/res/scss/style.scss
  server/src/lib.rs
  server/src/util.rs
Due: server

:sparkles: added sass compile on file change
  public/static/res/scss/style.scss
  server/src/app_state.rs
  server/src/main.rs
Due: server

small changes
  public/static/main.html
Due: none

Web structure (#33)
  public/static/main.html
Due: none
