Repository web-mighty-io/web-mighty: changes, and which Codecov flags are due for each by the changed paths.
All: core, public, server

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    core:
      flags: mighty
    public:
      flags: public
    server:
      flags: server

flags:
  core:
    paths:
      - mighty/src
  public:
    paths:
      - public/src
  server:
    paths:
      - server/src

:lipstick: chat scroll
  static/res/scss/style.scss
  static/rooms.html
Due: none

:lipstick: changed file format to hbs
  static/404.hbs
  static/game.hbs
  static/index.hbs
  static/main.hbs
  static/rooms.hbs
  static/settings.hbs
Due: none

:art: changed configuration default values
  server/src/config.rs
Due: server

:wrench: delete branch when automerge
  .kodiak.toml
Due: none

:rotating_light: fixed clippy warnings
  server/src/config.rs
Due: server

add state test and add checking register forms
  mighty/src/command.rs
  mighty/src/error.rs
  mighty/src/state.rs
  public/src/ws/room_user.rs
  server/Cargo.toml
  server/src/db/user.rs
  server/src/lib.rs
Due: core, public, server

fixed warnings
  mighty/src/state.rs
Due: core

fixed warnings2
  mighty/src/state.rs
Due: core

fixed warnings3
  mighty/src/state.rs
Due: core

changed to alphabet order in cargo toml
  server/Cargo.toml
Due: none

:art: improved sql
  server/src/db/game.rs
  server/src/lib.rs
  sql/create_room.sql
  sql/create_user.sql
Due: server

:wrench: changed dockerfile to build faster
  Dockerfile
Due: none

:construction_worker: made deploy action
  .github/workflows/deploy.yml
Due: none

:green_heart: changed deploy.yml
  .github/workflows/deploy.yml
Due: none

added state test
  mighty/src/error.rs
  mighty/src/rule/mod.rs
  mighty/src/rule/timing.rs
  mighty/src/state.rs
  server/src/db/user.rs
Due: core, server

changed warnings
  mighty/src/state.rs
Due: core

changed warnings2
  mighty/src/state.rs
  server/src/db/user.rs
Due: core, server

:memo: wrote documentation
  README.md
  mighty/src/command.rs
  mighty/src/game.rs
  mighty/src/rule/mod.rs
  mighty/src/state.rs
  minify_files.py
  server/src/actor/hub.rs
  server/src/actor/list.rs
  server/src/actor/main.rs
  server/src/actor/observe.rs
  server/src/actor/room.rs
  server/src/actor/room_user.rs
  server/src/actor/session.rs
  server/src/actor/user.rs
  server/src/app_state.rs
  server/src/config.rs
  server/src/db/game.rs
  server/src/error.rs
  server/src/https.rs
  server/src/lib.rs
  server/src/main.rs
  server/src/util.rs
  types/Cargo.toml
  types/src/lib.rs
Due: core, server

:art: changed session for callback support
  public/src/ws/list.rs
  public/src/ws/main.rs
  public/src/ws/observe.rs
  public/src/ws/room_user.rs
  public/src/ws/session.rs
Due: public

:bug: fixed simple bug
  public/src/ws/session.rs
Due: public

:art: implemented public
  public/src/lib.rs
  public/src/rule.rs
  public/src/ws/list.rs
  public/src/ws/main.rs
  public/src/ws/observe.rs
  public/src/ws/room_user.rs
  public/src/ws/session.rs
Due: public

added changing rating system
  mighty/src/game.rs
  server/src/actor/room.rs
  server/src/actor/user.rs
Due: core, server

:arrow_up: updated actix-*
  server/Cargo.toml
  server/src/actor/session.rs
  server/src/actor/user.rs
  server/src/https.rs
  types/Cargo.toml
Due: server

:recycle: format code
  server/src/actor/user.rs
  server/src/https.rs
Due: server

:sparkles: added mail feature
  server/Cargo.toml
  server/src/actor/mail.rs
  server/src/config.rs
  server/src/db/user.rs
  server/src/service/mod.rs
  server/src/service/post.rs
  types/src/lib.rs
Due: server

:recycle: format
  server/src/service/post.rs
Due: server

:memo: updated README.md
  README.md
Due: none

:memo: fixed codacy issue
  README.md
Due: none

:memo: fix codacy issue
  README.md
Due: none

:fire: removed server/README.md
  server/README.md
Due: none

:rotating_light: fixed docstring
  minify_files.py
Due: none

:wrench: fixed dockerfile
  Dockerfile
Due: none

:rotating_light: fixed sass issues
  static/res/scss/style.scss
Due: none

:rotating_light: fixed js issues
  static/res/js/index.js
  static/res/js/mighy.js
Due: none

:wrench: fixed dockerfile
  .github/workflows/docker.yml
  Dockerfile
Due: none

:wrench: added codacy coverage
  .github/workflows/coverage.yml
Due: none

:rotating_light: fixed codacy issue
  minify_files.py
Due: none

:art: fixed configuration
  server.docker.toml
  server.sample.toml
  server/src/config.rs
  server/src/lib.rs
Due: server

:memo: edited badges
  README.md
Due: none
