Repository web-mighty-io/web-mighty: changes, and which Codecov flags are due for each by the changed paths.
All: core, public, server

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    core:
      flags: mighty
    public:
      flags: public
    server:
      flags: server

flags:
  core:
    paths:
      - mighty/src
  public:
    paths:
      - public/src
  server:
    paths:
      - server/src

:rotating_light: fixed clippy
  mighty/src/base.rs
  mighty/src/basic.rs
Due: core

:white_check_mark: changed tests (#69)
  mighty/src/base.rs
  mighty/src/basic.rs
Due: core

fuck minkyu
  server/src/db/add_record.rs
  server/src/db/change_rating.rs
  server/src/db/delete_record.rs
  server/src/db/delete_user.rs
  server/src/handlers/delete.rs
  server/src/handlers/mod.rs
Due: server

:art: added room
  mighty/Cargo.toml
  mighty/src/base.rs
  mighty/src/basic.rs
  mighty/src/error.rs
  server/Cargo.toml
  server/src/app_state.rs
  server/src/game/mod.rs
  server/src/game/room.rs
  server/src/game/server.rs
  server/src/game/session.rs
  server/src/main.rs
Due: core, server

fuck kanghyeon
  server/src/handlers/delete.rs
Due: server

:art: added room (#70)
  mighty/Cargo.toml
  mighty/src/base.rs
  mighty/src/basic.rs
  mighty/src/error.rs
  server/Cargo.toml
  server/src/app_state.rs
  server/src/game/mod.rs
  server/src/game/room.rs
  server/src/game/server.rs
  server/src/game/session.rs
  server/src/main.rs
Due: core, server

add run and giruda change and delete user (#68)
  mighty/src/basic.rs
  mighty/src/error.rs
  server/src/db/add_record.rs
  server/src/db/change_rating.rs
  server/src/db/delete_record.rs
  server/src/db/delete_user.rs
  server/src/db/login.rs
  server/src/db/mod.rs
  server/src/db/register.rs
  server/src/db/sql/add_record.sql
  server/src/db/sql/add_user.sql
  server/src/db/sql/create_records.sql
  server/src/db/sql/create_users.sql
  server/src/db/sql/init.sql
  server/src/handlers/delete.rs
  server/src/handlers/mod.rs
  server/src/handlers/post.rs
Due: core, server

:art: improved actors
  .DS_Store
  mighty/src/lib.rs
  server/src/game/mod.rs
  server/src/game/room.rs
  server/src/game/server.rs
  server/src/game/session.rs
  server/src/game/user.rs
Due: core, server

:see_no_evil: added .DS_Store
  .gitignore
Due: none

:green_heart: upgraded toolchain
  .github/workflows/coverage.yml
Due: none

:green_heart: upgraded toolchain (#71)
  .github/workflows/coverage.yml
Due: none

:art: improving server
  README.md
  mighty/src/base.rs
  mighty/src/basic.rs
  mighty/src/lib.rs
  server/Cargo.toml
  server/README.md
  server/src/db/delete_user.rs
  server/src/db/login.rs
  server/src/db/mod.rs
  server/src/db/register.rs
  server/src/db/sql/add_record.sql
  server/src/db/sql/add_user.sql
  server/src/db/sql/create_records.sql
  server/src/db/sql/create_users.sql
  server/src/db/sql/init.sql
  server/src/db/user_info.rs
  server/src/game/mod.rs
  server/src/game/room.rs
  server/src/game/server.rs
  server/src/game/session.rs
  server/src/game/user.rs
  server/src/handlers/delete.rs
  server/src/handlers/get.rs
  server/src/handlers/mod.rs
  server/src/handlers/post.rs
  server/src/main.rs
  server/src/util/adress.rs
  server/src/util/mod.rs
  server/src/util/path.rs
Due: core, server

Add license scan report and status
  README.md
Due: none

:art: changed structure of mighty game
  Cargo.toml
  config/Cargo.toml
  config/src/lib.rs
  config/tests/generic_test.rs
  config/tests/lifetime_test.rs
  config/tests/simple_test.rs
  config/tests/tuple_test.rs
  mighty/Cargo.toml
  mighty/src/base.rs
  mighty/src/basic.rs
  mighty/src/card.rs
  mighty/src/command.rs
  mighty/src/game.rs
  mighty/src/lib.rs
  mighty/src/rule/card_policy.rs
  mighty/src/rule/dealer.rs
  mighty/src/rule/deck.rs
  mighty/src/rule/election.rs
  mighty/src/rule/friend.rs
  mighty/src/rule/joker_call.rs
  mighty/src/rule/missed_deal.rs
  mighty/src/rule/mod.rs
  mighty/src/rule/pledge.rs
  mighty/src/rule/visibility.rs
  mighty/src/state.rs
  server/src/actor/mod.rs
  server/src/actor/room.rs
  server/src/service/get/ws.rs
Due: core, server

:fire: removed .DS_Store
  .DS_Store
Due: none

:art: improved db
  config/src/lib.rs
  config/tests/simple_test.rs
  mighty/src/rule/joker_call.rs
  mighty/src/rule/mod.rs
  server/Cargo.toml
  server/src/db/delete_user.rs
  server/src/db/login.rs
  server/src/db/mod.rs
  server/src/db/register.rs
  server/src/db/sql/create_chat.sql
  server/src/db/sql/create_game.sql
  server/src/db/sql/create_records.sql
  server/src/db/sql/create_user.sql
  server/src/db/sql/create_users.sql
  server/src/db/user.rs
  server/src/db/user_info.rs
  server/src/lib.rs
  server/src/mail/mod.rs
  server/src/service/post.rs
Due: core, server

:rotating_light: fixed compile error
  mighty/src/rule/joker_call.rs
  server/src/actor/room.rs
  server/src/db/mod.rs
  server/src/db/user.rs
  server/src/service/delete.rs
  server/src/service/get/mod.rs
Due: core, server

:art: improved game
  mighty/src/rule/card_policy.rs
  mighty/src/rule/dealer.rs
  mighty/src/rule/joker_call.rs
  mighty/src/rule/missed_deal.rs
  mighty/src/rule/mod.rs
  mighty/src/rule/pledge.rs
  server/src/actor/mod.rs
  server/src/actor/room.rs
  server/src/actor/server.rs
  server/src/app_state.rs
  server/src/db/game.rs
  server/src/db/mod.rs
  server/src/db/sql/create_game.sql
  server/src/db/sql/create_user.sql
  server/src/db/user.rs
  server/src/main.rs
Due: core, server

:art: changed from diff to not
  server/src/db/sql/create_game.sql
Due: server

:art: improved database
  mighty/src/rule/card_policy.rs
  server/src/actor/chat_ss.rs
  server/src/actor/list_ss.rs
  server/src/actor/main_ss.rs
  server/src/actor/mod.rs
  server/src/actor/observe_ss.rs
  server/src/actor/room.rs
  server/src/actor/room_ss.rs
  server/src/actor/server.rs
  server/src/db/game.rs
  server/src/db/sql/create_game.sql
  server/src/db/sql/create_user.sql
  server/src/db/user.rs
  server/src/lib.rs
  server/src/service/delete.rs
  server/src/service/get/mod.rs
  server/src/service/get/ws.rs
  server/src/service/post.rs
Due: core, server

notstarted done and election half done
  mighty/src/command.rs
  mighty/src/rule/mod.rs
  mighty/src/rule/pledge.rs
  mighty/src/state.rs
Due: core

:art: improved room
  mighty/src/error.rs
  mighty/src/game.rs
  mighty/src/state.rs
  server/src/actor/room.rs
  server/src/actor/server.rs
  server/src/db/game.rs
  server/src/db/sql/create_game.sql
Due: core, server

election done, notstarted deleted
  mighty/src/state.rs
Due: core

fixed errors
  mighty/src/game.rs
  mighty/src/state.rs
Due: core

:rotating_light: fixed doc test
  server/src/actor/chat_ss.rs
  server/src/actor/hub.rs
  server/src/actor/list_ss.rs
  server/src/actor/main_ss.rs
  server/src/actor/mod.rs
  server/src/actor/observe_ss.rs
  server/src/actor/room.rs
  server/src/actor/room_ss.rs
  server/src/actor/user.rs
  server/src/app_state.rs
  server/src/https.rs
  server/src/util/address.rs
  server/src/util/path.rs
Due: server

:art: moving to toml configuration
  .gitignore
  server.sample.toml
  server/Cargo.toml
  server/README.md
  server/src/config.rs
  server/src/lib.rs
  server/src/main.rs
Due: server

:memo: changed document to toml configuration
  README.md
Due: none

:art: formatted code
  server/src/actor/mod.rs
  server/src/actor/room.rs
  server/src/actor/user.rs
  server/src/service/delete.rs
Due: server

:memo: added document for https
  server.sample.toml
Due: none

:memo: removed env
  README.md
Due: none

:art: changed to hub
  config/Cargo.toml
  mighty/Cargo.toml
  server/src/actor/hub.rs
  server/src/actor/user.rs
  server/src/app_state.rs
  server/src/db/user.rs
  server/src/https.rs
  server/src/lib.rs
  server/src/mail/mod.rs
  server/src/main.rs
  server/src/service/get/mod.rs
  server/src/service/get/ws.rs
Due: server

:lipstick: added 404 page
  public/static/404.html
Due: none

:art: moved db to actor
  server.sample.toml
  server/Cargo.toml
  server/src/actor/db/error.rs
  server/src/actor/db/game.rs
  server/src/actor/db/mod.rs
  server/src/actor/db/user.rs
  server/src/actor/hub.rs
  server/src/actor/mail.rs
  server/src/actor/mod.rs
  server/src/actor/room.rs
  server/src/actor/user.rs
  server/src/app_state.rs
  server/src/config.rs
  server/src/lib.rs
  server/src/main.rs
  server/src/service/delete.rs
  server/src/service/get/mod.rs
  server/src/service/get/ws.rs
  server/src/service/post.rs
  server/src/session/chat.rs
  server/src/session/list.rs
  server/src/session/main.rs
  server/src/session/mod.rs
  server/src/session/observe.rs
  server/src/session/room.rs
  sql/create_chat.sql
  sql/create_game.sql
  sql/create_user.sql
  util/start_server.py
Due: server

:lipstick: added 404 icon in 404 page
  public/static/404.html
  public/static/res/assets/404.png
  public/static/res/scss/style.scss
Due: none

formatted code
  mighty/src/command.rs
  mighty/src/state.rs
  server/src/service/delete.rs
Due: core, server

:art: added mail support
  server/src/actor/mail.rs
  server/src/actor/user.rs
  server/src/app_state.rs
  server/src/config.rs
  server/src/main.rs
  server/src/service/delete.rs
Due: server

:lipstick: Focusing on index.html
  public/static/404.html
  public/static/index.hbs
  public/static/index.html
  public/static/main.html
  public/static/res/scss/style.scss
Due: none

:lipstick: Minor text changes
  public/static/index.html
Due: none
