Repository web-mighty-io/web-mighty: changes, and which Codecov flags are due for each by the changed paths.
All: core, public, server

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    core:
      flags: mighty
    public:
      flags: public
    server:
      flags: server

flags:
  core:
    paths:
      - mighty/src
  public:
    paths:
      - public/src
  server:
    paths:
      - server/src

:sparkles: BasicCommand parser
  mighty/src/basic.rs
Due: core

fixed something (#46)
  mighty/src/base.rs
  mighty/src/basic.rs
  mighty/src/error.rs
Due: core

:rotating_light: error fixed
  mighty/src/basic.rs
Due: core

:fire: commit
  mighty/src/basic.rs
Due: core

:rotating_light: compiler error
  mighty/src/basic.rs
Due: core

:rotating_light: fix fmt
  mighty/src/basic.rs
Due: core

:art: changed structure
  mighty/src/base.rs
  mighty/src/basic.rs
  mighty/src/lib.rs
  mighty/src/user.rs
Due: core

:art: changed structure (#51)
  mighty/src/base.rs
  mighty/src/basic.rs
  mighty/src/lib.rs
  mighty/src/user.rs
Due: core

:memo: command from str
  mighty/src/basic.rs
Due: core

:white_check_mark: str from BasicCommand
  mighty/src/basic.rs
Due: core

:recycle: shorter code
  mighty/src/basic.rs
Due: core

Implemented FromStr trait of BasicCommand (#53)
  mighty/src/basic.rs
Due: core

:sparkles: made generate function
  mighty/src/base.rs
  mighty/src/basic.rs
Due: core

:sparkles: made generate function (#54)
  mighty/src/base.rs
  mighty/src/basic.rs
Due: core

:sparkles: starting websocket
  server/Cargo.toml
  server/src/game/mod.rs
  server/src/game/server.rs
  server/src/game/session.rs
  server/src/handlers/mod.rs
  server/src/handlers/websocket.rs
  server/src/lib.rs
Due: server

:art: changed game
  mighty/src/base.rs
  mighty/src/basic.rs
Due: core

:art: changed game (#55)
  mighty/src/base.rs
  mighty/src/basic.rs
Due: core

:poop: str_from_command
  mighty/src/basic.rs
Due: core

:green_heart: fix merge error
  mighty/src/basic.rs
Due: core

:art: added actors
  server/Cargo.toml
  server/src/game/mod.rs
  server/src/game/server.rs
  server/src/game/session.rs
  server/src/handlers/websocket.rs
Due: server

:construction_worker: fixed to all targets
  .github/workflows/build.yml
Due: none

:construction_worker: fixed to all targets (#57)
  .github/workflows/build.yml
Due: none

:see_no_evil: added Cargo.lock
  .gitignore
  Cargo.lock
Due: none

:construction_worker: added cargo-audit
  .github/workflows/audit.yml
Due: none

:see_no_evil: added Cargo.lock (#59)
  .gitignore
  Cargo.lock
Due: none

:construction_worker: added cargo-audit (#60)
  .github/workflows/audit.yml
Due: none

Update coverage.yml
  .github/workflows/coverage.yml
Due: none

Update coverage.yml (#61)
  .github/workflows/coverage.yml
Due: none

:art: BasicCommand to string
  mighty/src/basic.rs
Due: core

:art: adjust fmt
  mighty/src/basic.rs
Due: core

:art: added handle function
  server/src/game/server.rs
  server/src/game/session.rs
  server/src/handlers/get.rs
  server/src/handlers/mod.rs
  server/src/handlers/websocket.rs
  server/src/main.rs
Due: server

:art: added handlers
  .github/workflows/audit.yml
  .gitignore
  Cargo.lock
  server/src/app_state.rs
  server/src/game/server.rs
  server/src/game/session.rs
  server/src/handlers/get.rs
Due: server

:art: formatted code
  server/src/handlers/get.rs
Due: server

✨ starting websocket (#66)
  .github/workflows/audit.yml
  .gitignore
  Cargo.lock
  server/Cargo.toml
  server/src/app_state.rs
  server/src/game/mod.rs
  server/src/game/server.rs
  server/src/game/session.rs
  server/src/handlers/get.rs
  server/src/handlers/mod.rs
  server/src/lib.rs
  server/src/main.rs
Due: server

:sparkles: using serde
  .gitignore
  Cargo.lock
  mighty/Cargo.toml
  mighty/src/base.rs
  mighty/src/basic.rs
  mighty/src/error.rs
  rustfmt.toml
  server/src/app_state.rs
  server/src/db/login.rs
  server/src/db/register.rs
  server/src/handlers/get.rs
  server/src/handlers/post.rs
  server/src/https.rs
  server/src/main.rs
Due: core, server

:sparkles: using serde (#67)
  .gitignore
  Cargo.lock
  mighty/Cargo.toml
  mighty/src/base.rs
  mighty/src/basic.rs
  mighty/src/error.rs
  rustfmt.toml
  server/src/app_state.rs
  server/src/db/login.rs
  server/src/db/register.rs
  server/src/handlers/get.rs
  server/src/handlers/post.rs
  server/src/https.rs
  server/src/main.rs
Due: core, server

add run and change giruda and add delete_user
  Cargo.lock
  mighty/src/basic.rs
  mighty/src/error.rs
  public/Cargo.lock
  server/Cargo.lock
  server/src/db/delete_user.rs
  server/src/db/mod.rs
  server/src/db/register.rs
  server/src/db/sql/add_record.sql
  server/src/db/sql/add_user.sql
  server/src/db/sql/create_records.sql
  server/src/db/sql/create_users.sql
  server/src/db/sql/init.sql
  server/src/handlers/mod.rs
  server/src/handlers/post.rs
Due: core, server

deleted cargo lock
  public/Cargo.lock
  server/Cargo.lock
Due: none

:white_check_mark: changed tests
  mighty/src/base.rs
  mighty/src/basic.rs
Due: core

made delete.rs
  server/src/db/delete_user.rs
  server/src/db/login.rs
  server/src/db/register.rs
  server/src/handlers/delete.rs
  server/src/handlers/mod.rs
  server/src/handlers/post.rs
Due: server
