Repository web-mighty-io/web-mighty: changes, and which Codecov flags are due for each by the changed paths.
All: core, public, server

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  status:
    core:
      flags: mighty
    public:
      flags: public
    server:
      flags: server

flags:
  core:
    paths:
      - mighty/src
  public:
    paths:
      - public/src
  server:
    paths:
      - server/src

:lipstick: Minor text changes
  public/static/index.html
Due: none

:lipstick: Updated signup section in index.html
  public/static/index.html
Due: none

:art: fixed static files (png)
  server/Cargo.toml
  server/src/actor/db/error.rs
  server/src/actor/mod.rs
  server/src/actor/room.rs
  server/src/actor/user.rs
  server/src/app_state.rs
  server/src/lib.rs
  server/src/main.rs
  server/src/service/delete.rs
  server/src/service/get/mod.rs
  server/src/service/post.rs
  server/src/util/address.rs
  server/src/util/connection.rs
  server/src/util/mod.rs
Due: server

:hammer: Added front page backend(WIP)
  public/static/index.html
  public/static/res/js/index.js
Due: none

:art: replaced 404 image to svg file
  public/static/404.html
  public/static/res/assets/404.svg
Due: none

election revised
  mighty/src/error.rs
  mighty/src/state.rs
Due: core

:art: improved user
  rustfmt.toml
  server/src/actor/user.rs
  server/src/util/connection.rs
  server/src/util/mod.rs
Due: server

:arrow_up: upgrade rand from 0.7 to 0.8
  mighty/Cargo.toml
  public/Cargo.toml
  server/Cargo.toml
Due: none

select friend done
  mighty/src/command.rs
  mighty/src/error.rs
  mighty/src/rule/friend.rs
  mighty/src/rule/mod.rs
  mighty/src/state.rs
  server/src/service/delete.rs
Due: core, server

ingame done
  mighty/src/card.rs
  mighty/src/command.rs
  mighty/src/error.rs
  mighty/src/rule/card_policy.rs
  mighty/src/rule/friend.rs
  mighty/src/rule/joker_call.rs
  mighty/src/state.rs
  server/src/util/connection.rs
Due: core, server

:art: changed structure based on new error system
  server/Cargo.toml
  server/src/actor/db/error.rs
  server/src/actor/db/game.rs
  server/src/actor/db/mod.rs
  server/src/actor/db/user.rs
  server/src/actor/hub.rs
  server/src/actor/mod.rs
  server/src/actor/room.rs
  server/src/actor/user.rs
  server/src/error.rs
  server/src/lib.rs
  server/src/service/delete.rs
  server/src/service/get/mod.rs
  server/src/service/get/ws.rs
  server/src/service/mod.rs
  server/src/service/post.rs
  server/src/util/actor.rs
  server/src/util/connection.rs
  server/src/util/mod.rs
Due: server

:zap: made send function with unsafe code
  server/src/actor/user.rs
  server/src/util/actor.rs
  server/src/util/address.rs
  server/src/util/mod.rs
Due: server

:building_construction: changed mail error to server error
  server/src/actor/mail.rs
Due: server

fixed ingame logic
  mighty/src/state.rs
Due: core

:art: moved session to actor
  server/Cargo.toml
  server/src/actor/db/game.rs
  server/src/actor/db/mod.rs
  server/src/actor/db/user.rs
  server/src/actor/group.rs
  server/src/actor/hub.rs
  server/src/actor/list.rs
  server/src/actor/mail.rs
  server/src/actor/main.rs
  server/src/actor/mod.rs
  server/src/actor/observe.rs
  server/src/actor/room.rs
  server/src/actor/room_user.rs
  server/src/actor/session.rs
  server/src/actor/user.rs
  server/src/lib.rs
  server/src/main.rs
  server/src/service/get/mod.rs
  server/src/service/get/ws.rs
  server/src/service/mod.rs
  server/src/service/post.rs
  server/src/session/chat.rs
  server/src/session/list.rs
  server/src/session/main.rs
  server/src/session/mod.rs
  server/src/session/observe.rs
  server/src/session/room.rs
  server/src/util.rs
  server/src/util/actor.rs
  server/src/util/mod.rs
Due: server

:art: implemented websocket
  server/src/actor/group.rs
  server/src/actor/list.rs
  server/src/actor/main.rs
  server/src/actor/observe.rs
  server/src/actor/room.rs
  server/src/actor/room_user.rs
  server/src/actor/session.rs
  server/src/actor/user.rs
  server/src/lib.rs
  server/src/service/get/ws.rs
Due: server

:rotating_light: fixed all warnings
  server/src/actor/hub.rs
  server/src/actor/list.rs
  server/src/actor/main.rs
  server/src/actor/observe.rs
  server/src/service/get/ws.rs
Due: server

:rotating_light: fixed test error
  server/src/https.rs
Due: server

deleted default state
  mighty/src/state.rs
Due: core

Implemented mighty (#75)
  mighty/src/card.rs
  mighty/src/command.rs
  mighty/src/error.rs
  mighty/src/game.rs
  mighty/src/rule/card_policy.rs
  mighty/src/rule/friend.rs
  mighty/src/rule/joker_call.rs
  mighty/src/rule/mod.rs
  mighty/src/rule/pledge.rs
  mighty/src/state.rs
Due: core

:rotating_light: fixed clippy warnings
  mighty/src/state.rs
Due: core

:green_heart: fixed rand package error
  public/Cargo.toml
Due: none

:triangular_flag_on_post: added server and client feature to mighty
  public/Cargo.toml
Due: none

:triangular_flag_on_post: added features to mighty
  mighty/Cargo.toml
  mighty/src/game.rs
  mighty/src/lib.rs
  mighty/src/rule/mod.rs
  mighty/src/state.rs
  server/Cargo.toml
  server/src/actor/db/game.rs
  server/src/actor/hub.rs
  server/src/actor/list.rs
  server/src/actor/main.rs
  server/src/actor/observe.rs
  server/src/actor/room.rs
  server/src/actor/room_user.rs
  server/src/actor/session.rs
  server/src/actor/user.rs
Due: core, server

:recycle: formatted code
  mighty/src/game.rs
  server/src/actor/db/game.rs
  server/src/actor/hub.rs
  server/src/actor/observe.rs
  server/src/actor/room.rs
  server/src/actor/room_user.rs
  server/src/actor/user.rs
Due: core, server

:triangular_flag_on_post: added server and client feature to mighty (#82)
  mighty/Cargo.toml
  mighty/src/game.rs
  mighty/src/lib.rs
  mighty/src/rule/mod.rs
  mighty/src/state.rs
  public/Cargo.toml
  server/Cargo.toml
  server/src/actor/db/game.rs
  server/src/actor/hub.rs
  server/src/actor/list.rs
  server/src/actor/main.rs
  server/src/actor/observe.rs
  server/src/actor/room.rs
  server/src/actor/room_user.rs
  server/src/actor/session.rs
  server/src/actor/user.rs
Due: core, server

404 page bug fix
  public/static/404.html
  public/static/main.html
  public/static/res/scss/style.scss
Due: none

:art: deleted files
  server/src/actor/db/error.rs
  server/src/session/chat.rs
  server/src/session/list.rs
  server/src/session/main.rs
  server/src/session/mod.rs
  server/src/session/observe.rs
  server/src/session/room.rs
  server/src/util/address.rs
  server/src/util/mod.rs
  server/src/util/path.rs
Due: server

Web structure (#83)
  public/static/index.html
  public/static/main.html
  public/static/res/assets/404.svg
  public/static/res/js/index.js
  public/static/res/scss/style.scss
Due: none

:art: moved /public/static -> /static
  .gitignore
  server.sample.toml
  start_server.py
  static/404.html
  static/index.html
  static/main.html
  static/profile.html
  static/res/.ignore
  static/res/assets/404.png
  static/res/assets/404.svg
  static/res/assets/spade_A.png
  static/res/js/index.js
  static/res/js/mighy.js
  static/res/scss/style.scss
Due: none

:art: moved /public/static -> /static (#84)
  .gitignore
  server.sample.toml
  start_server.py
  static/404.html
  static/index.html
  static/main.html
  static/profile.html
  static/res/.ignore
  static/res/assets/404.png
  static/res/assets/404.svg
  static/res/assets/spade_A.png
  static/res/js/index.js
  static/res/js/mighy.js
  static/res/scss/style.scss
Due: none

:sparkles: made types crate
  Cargo.toml
  public/Cargo.toml
  public/src/lib.rs
  public/src/ws/list.rs
  public/src/ws/main.rs
  public/src/ws/mod.rs
  public/src/ws/observe.rs
  public/src/ws/room_user.rs
  public/src/ws/session.rs
  server/Cargo.toml
  server/src/actor/group.rs
  server/src/actor/hub.rs
  server/src/actor/list.rs
  server/src/actor/main.rs
  server/src/actor/mod.rs
  server/src/actor/observe.rs
  server/src/actor/room.rs
  server/src/actor/room_user.rs
  server/src/actor/session.rs
  server/src/actor/user.rs
  server/src/lib.rs
  server/src/service/get/mod.rs
  server/src/service/get/ws.rs
  types/Cargo.toml
  types/src/lib.rs
Due: public, server

:rotating_light: fixed test compile error
  public/Cargo.toml
  public/src/ws/session.rs
  server/src/lib.rs
Due: public, server

:sparkles: made types crate (#85)
  Cargo.toml
  public/Cargo.toml
  public/src/lib.rs
  public/src/ws/list.rs
  public/src/ws/main.rs
  public/src/ws/mod.rs
  public/src/ws/observe.rs
  public/src/ws/room_user.rs
  public/src/ws/session.rs
  server/Cargo.toml
  server/src/actor/group.rs
  server/src/actor/hub.rs
  server/src/actor/list.rs
  server/src/actor/main.rs
  server/src/actor/mod.rs
  server/src/actor/observe.rs
  server/src/actor/room.rs
  server/src/actor/room_user.rs
  server/src/actor/session.rs
  server/src/actor/user.rs
  server/src/lib.rs
  server/src/service/get/mod.rs
  server/src/service/get/ws.rs
  types/Cargo.toml
  types/src/lib.rs
Due: public, server

:truck: additional fix for moving static
  .gitignore
  start_server.py
  static/res/js/mighy.js
Due: none

:rocket: made Dockerfile
  Dockerfile
Due: none

:art: modified main page
  static/main.html
  static/profile.html
  static/res/assets/account_circle-24px.svg
  static/res/assets/settings-24px.svg
  static/res/scss/style.scss
Due: none

:art: modified main page
  static/main.html
  static/res/scss/style.scss
Due: none

:art: added settings page
  static/main.html
  static/settings.html
Due: none
